/* 
colors
#ade2df - небесно синьо
#f3f5fa - plans background
#dbdbdb - borders on articles
*/

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

html {
  font-family: "Inter", sans-serif;
}

/* header */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 10%;
}

.site-header .nav ul {
  display: flex;
}

.site-header .nav ul li {
  padding-right: 42px;
}

.site-header .nav ul li a {
  text-decoration: none;
  color: black;
}

.site-header .log a {
  padding-right: 12px;
  color: black;
  text-decoration: none;
}

.site-header .log button {
  padding: 8px 16px;
  font-weight: 600;
  border: none;
  background-color: #ade2df;
  border-radius: 8px;
  cursor: pointer;
}

/* main */
/* first section -download */

.site-main .download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ade2df;
  gap: 32px;
  padding: 56px 56px 82px 56px;
}

.site-main .download h1 {
  font-size: 80px;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 16px;
}

.buttons button {
  padding: 14px 28px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* second section - stats */

.site-main .stats {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.site-main .stats article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 32px 70px 32px;
}

.site-main .stats article h2 {
  font-size: 52px;
  font-weight: 600;
  padding-bottom: 24px;
}

section.stats article:nth-child(1) {
  border-left: 2px solid #dbdbdb;
}

section.stats article:nth-child(2) {
  border-right: 2px solid #dbdbdb;
  border-left: 2px solid #dbdbdb;
}

section.stats article:nth-child(3) {
  border-right: 2px solid #dbdbdb;
}

/* section 3 - explore */

.site-main .explore {
  background-color: #ade2df;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20%;
}

.site-main .explore img {
  padding: 0px 22px;
  margin: 0px 32px;
  border: 2px dashed #98b8b6;
}

.site-main .explore article {
  padding: 20px 50px;
}

.site-main .explore article h2 {
  font-size: 36px;
  padding-bottom: 18px;
}

section.explore article p.bold {
  font-weight: bold;
  padding-bottom: 16px;
  padding-top: 18px;
}

section.explore article p:nth-child(4) {
  padding-bottom: 8px;
}

.site-main .explore article div a{
    margin: 26px 0px;
}

 section.explore article p:nth-child(6){
    padding: 32px 0px;
}

section.explore article p a{
    text-decoration: none;
    color: black;
}

section.explore article p a i{
    padding-left: 8px;
}

/* section 4 -plans */

.site-main .plans{
    background-color: #f3f5fa ;
    padding: 42px 0px;
}

section.plans .like-button{
    text-align: center;
    font-weight: bold;
    background-color: #ade2df;
    width: 8%;
    position: relative;
    left: 45%;
    border-radius: 8px;
    padding: 8px 16px;
}

section.plans h2{
    text-align: center;
    padding: 24px 0px 36px 0px;
    font-size: 32px;
}

.site-main .plans .conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    background-color: white;
    
}

.site-main .plans .conteiner .plan{
    display: flex;
    flex-direction: column;
    border-right: 2px solid #dbdbdb;
    padding: 24px;
}

.site-main .plans .conteiner .plan:nth-child(3){
    border-right: none;
}

.site-main .plans .plan h3{
    text-align: center;
}

.site-main .plans .plan h2{
    text-align: left;
    border-bottom: 2px solid #dbdbdb;
}

.site-main .plans .plan h2 .month{
    font-size: 18px;
    font-weight: 400;
 
}

.site-main .plans .plan p{
    padding-top: 12px;
}

.site-main .plans .plan button{
    margin-top: 52px;
    padding: 16px 32px;
    background-color: #ade2df;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.site-main section.plans section article p:nth-child(4){
    padding-top: 32px;
}

.site-main .plans .expand{
    position: relative;
    background-color: #ade2df;
    padding: 24px;
}

.site-main .plans .expand h3{
    text-align: center;
}

.site-main .plans .expand .big-text{
    font-size: 22px;
    padding-bottom: 24px;
}

.site-main section.plans section article.expand p:nth-child(4){
    padding-top: 8px;
}

.site-main section.plans section article.expand p {
    padding: 8px 0px;
}

.site-main .plans .expand button{
    position: absolute;
    bottom: 24px;
    width: 95%;
    padding: 16px 32px;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

/* section 5 - get-started */

.site-main .get-started{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ade2df;
    padding: 46px 0px;
}

.site-main .get-started h2{
    text-align: center;
    font-size: 36px;
    width: 20%;
}

.site-main .get-started p{
    width: 30%;
    text-align: center;
    padding-bottom: 32px;
}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    font-weight: 600;
}

footer a i{
    color: black;
    padding-right: 8px;
}