body{
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

form{
    background-color: bisque;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20 px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0,5);
}

.form-control{
    display: block;
    margin-bottom: 25px;
}

.form-control label{
    display: block;
    margin-bottom: 10px;
}

.form-control input, .form-control select, .form-control textarea{
    border: 1px solid black;
    font-family: inherit;
    border-radius: 2px;
    padding: 10px;
    display: inline-flex;
    width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"]{
    display: inline-block;
    width: auto;
}

button{
    background-color: orange;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}