html{
    font-family: Helvetica, sans-serif;
    margin-left: 30px;
}

header nav{
    display: inline-block;
}

h1{
    display: inline-block;
    margin-right: 30px;
}

li{
    display: inline-block;
}

a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    color: lightgreen;
}