body{
    background-color: #eee;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
}


header, main, aside, footer{
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.4rem;
    color: #000;
    margin: 10px;
    box-shadow: 0px 0px 6px black;
}

header, footer{
    flex-basis: 100%;
    padding-bottom: 50px;
}

main{
    flex: 8 1 40rem;
    width: 70%;
    padding-bottom: 200px;
}

aside{
    flex: 2 1 20rem;
}