* {
    box-sizing: border-box;
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238)
}

section.container{
    display: flex;
    gap: 10px;
    box-shadow: lightgray 10px;
}

img:nth-child(1), img:nth-child(3), img:nth-child(4){
    width: 150px; 
    height: 300px; 
    object-fit: cover;
    object-position: 30% 40%; 
    border: 1px snow solid;
    border-radius: 4px;
}

img:nth-child(2){
    width: 300px; 
    height: 300px; 
    object-fit: cover;
    object-position: 100% 100%; 
    border: black solid 10px;
    border-radius: 4px;
}