html{
    font-family: "PT Sans", sans-serif;
}

body{
    padding: 0px 200px;
}

.site-header{
    background-image: url(image/computer-main.jpg);;
    background-color: grey;
    background-blend-mode: multiply;    
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0px 3px 3px black;
}

.site-header .upper{
    display: flex;
    justify-content: space-between;
    padding: 20px 140px;
}

.site-header .upper a{
    text-decoration: none; 
    color: #ffffff;
}

.site-header .upper i{
    padding-right: 6px;
    font-size: 20px;
}

.site-header .main-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header .main-part h1{
    padding: 50px 0px;
    font-size: 42px;
}

.site-header .main-part p{
    width: 30%;
    text-align: center;
    padding-bottom: 80px;
}

.site-header .main-part .button-buy{
    margin-top: 12px;
    background-color: #00d08e;
    padding: 12px 28px;
    border-color: #00d08e;
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.site-header .main-part .button-trans{
    margin-top: 52px;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0px 3px 3px black;
    cursor: pointer;
}

.site-main .hustle{
    display: flex;
}

.site-main .hustle img{
    font-size: 50%;
    height: 500px;
}

.site-main .hustle .desc{
    padding: 24px 80px;
}

.site-main .hustle .desc h2{
    font-size: 32px;
}

.site-main .hustle .desc p{
    font-weight: 600;
    font-size: 19px;
    width: 80%;
}   

.site-main .hustle .desc ul{
    padding-left: 0;
    padding-top: 24px;
}

.site-main .hustle .desc li{
    padding-bottom: 32px;
    font-size: 18px;
    font-weight: 500;
}

.site-main .hustle .desc li i{
    color: #00d08e;
    margin-right: 8px;
}

.site-main .case{
    display: flex;
    position: relative;
    top: -3px;
}

.site-main .case .icons{
    width: 50%;
}

.site-main .case .icons h2{
    text-align: center;
    padding-top: 12px;
    font-size: 32px;
}

article.case section.icons div{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   padding: 28px 56px;
}

article.case section.icons div div{
    display: flex;
    flex-direction: column;
}


article.case section.icons div div P{
    color: #00d08e;
    font-size: 24px;
    font-weight: bold;
    padding-top: 12px;
}

article.case section.icons div img{
    height: 80px;
    width: 80px;
}

body > main > article.case > section:nth-child(2) > img{
    font-size: 50%;
    height: 500px;
}

.questions{
    background-color: #b2f1dd;
    position: relative;
    top: -3px;
}

.questions h2{
    text-align: center;
    font-size: 32px;
    padding-top: 12px;
}

.questions .article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
}

.questions .article article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 26px;
}

.questions .article article p{
    text-align: center;
    width: 70%;
    font-weight: 500;
}

.questions .article article h3{
    font-size: 22px;
}

.questions .Email{
    text-align: center;
    padding: 24px 0px;
}

.questions .Email span{
    font-weight: bold;
}



