@media(max-width:600px){
    .home-navbar-container {
        padding: 0px 36px;
    }
    
    .home-cta-btn{
        padding: 8px 16px;
        font-size: 16px;
    }

    .home-hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .home-hero-text-container{
        width: 100%;
        margin: auto;
    }

    .home-cta-btn2{
       position: relative;
       width: 35%;
       left: 33%;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-cards-container {
        display: flex;
        flex-direction: column;
    }

    #features div.home-cards-container div.home-feature-card{
        width: 100%;
    }

    #features div.home-cards-container div.home-feature-card1{
        width: 100%;
    }

    #features div.home-cards-container div.home-feature-card2{
        width: 100%;
    }

    .home-image2, .home-image3, .home-image4 {
        width: 400px;
    }

    .home-stats{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 2400px;
    }
}

@media(max-width:550px){
    .home-stats{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 2600px;
    }
}

@media(max-width:410px){
    .home-stats{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 2800px;
    }
}