.sortable{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.sortable thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.sortable th,
.sortable td{
    padding: 12px 15px;
}

.sortable tbody tr{
    border-bottom: 1px solid #dddddd;
}

.sortable tbody tr:nth-last-of-type(even){
    background-color: #f3f3f3;
}

.sortable tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.sortable tbody tr{
    font-weight: bold;
    color: #009879;
}

footer{
    background-color: #009879;
}

footer p{
    text-align: center;
    color: #ffffff;
    padding: 10px;
}